{% extends "equipments/base.html" %}
{% block title %}Extend - Comp App{% endblock %}

  {% block body %}
    <div id="wrapper">
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-6 full-width">
            <div class="panel panel-default">

              <div class="col-lg-6" full-width">
                          
                <h3 class="page-header">{{ equipment.name }}</h3>
                <h4 class="page-header">Extend</h4>

                <form class="form-group" method="post" action="{% url 'equipments:extend_act' equipment.id %}">
                  {% csrf_token %}
                  <label>Name</label>
                  <input type="text" name="name">
                  <input type="submit" name="Enter">
                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
